.post-card{
    background-color: #E9E9E9;
    width: 100%;
    margin:0 auto 2rem auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .post-card .post-content{
    margin: 0.25rem 1rem;
    font-size: 1.5rem;
    position: relative;
    overflow-wrap:break-word;
  }

  .post-card img{
   width: 100%;
   /* object-fit: cover; */
  }

  .namefont{
    font-weight: bold;
    font-size: 2rem;
  }
  .post-image{
    cursor: pointer;
  }