.author{
    display: flex;
    justify-content:flex-start;
    align-items: center;
 }
.author img{
   width: 4.5rem;
   height: 4.5rem;
   border-radius: 100%;
   margin: 1rem;
 }
.author .post-text{
   /* font-weight: bolder; */
   font-size: 1.5rem;
 }